name: Lean Action CI

on:
  push:
  pull_request:
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read # Read access to repository contents
  pages: write # Write access to GitHub Pages
  id-token: write # Write access to ID tokens

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: leanprover/lean-action@v1
      
      - name: Build documentation
        if: github.ref_name == 'master'
        run: make doc

      - name: Setup Graphviz
        if: github.ref_name == 'master'
        uses: ts-graphviz/setup-graphviz@v2

      - name: Build dependencies graph
        if: github.ref_name == 'master'
        run: make dependencies

      - name: Copy documentation to `home_page/docs`
        if: github.ref_name == 'master'
        run: |
          rm -rf home_page
          mkdir -p home_page
          cp -r docbuild/.lake/build/doc home_page/docs
          cp dependencies.svg home_page/docs/

      - name: Remove unnecessary lake files from documentation in `home_page/docs`
        if: github.ref_name == 'master'
        run: |
          find home_page/docs -name "*.trace" -delete
          find home_page/docs -name "*.hash" -delete

      - name: List website content
        if: github.ref_name == 'master'
        run: find home_page

      - name: Upload website
        if: github.ref_name == 'master'
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'home_page/'

      - name: Deploy to GitHub Pages
        if: github.ref_name == 'master'
        id: deployment
        uses: actions/deploy-pages@v4
